Código fuente/SistemaExperto/Service References/ADCorpoica/Wcf_AuthUsers.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="validarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="validarUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="validarUsuarioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="validarUsuarioRegistro">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="validarUsuarioRegistroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="validarUsuarioRegistroResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="validarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:validarUsuario" />
  </wsdl:message>
  <wsdl:message name="validarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:validarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="validarUsuarioRegistroSoapIn">
    <wsdl:part name="parameters" element="tns:validarUsuarioRegistro" />
  </wsdl:message>
  <wsdl:message name="validarUsuarioRegistroSoapOut">
    <wsdl:part name="parameters" element="tns:validarUsuarioRegistroResponse" />
  </wsdl:message>
  <wsdl:message name="validarUsuarioHttpGetIn">
    <wsdl:part name="user" type="s:string" />
    <wsdl:part name="pass" type="s:string" />
  </wsdl:message>
  <wsdl:message name="validarUsuarioHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="validarUsuarioRegistroHttpGetIn">
    <wsdl:part name="user" type="s:string" />
    <wsdl:part name="pass" type="s:string" />
  </wsdl:message>
  <wsdl:message name="validarUsuarioRegistroHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="validarUsuarioHttpPostIn">
    <wsdl:part name="user" type="s:string" />
    <wsdl:part name="pass" type="s:string" />
  </wsdl:message>
  <wsdl:message name="validarUsuarioHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="validarUsuarioRegistroHttpPostIn">
    <wsdl:part name="user" type="s:string" />
    <wsdl:part name="pass" type="s:string" />
  </wsdl:message>
  <wsdl:message name="validarUsuarioRegistroHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="Wcf_AuthUsersSoap">
    <wsdl:operation name="validarUsuario">
      <wsdl:input message="tns:validarUsuarioSoapIn" />
      <wsdl:output message="tns:validarUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="validarUsuarioRegistro">
      <wsdl:input message="tns:validarUsuarioRegistroSoapIn" />
      <wsdl:output message="tns:validarUsuarioRegistroSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Wcf_AuthUsersHttpGet">
    <wsdl:operation name="validarUsuario">
      <wsdl:input message="tns:validarUsuarioHttpGetIn" />
      <wsdl:output message="tns:validarUsuarioHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="validarUsuarioRegistro">
      <wsdl:input message="tns:validarUsuarioRegistroHttpGetIn" />
      <wsdl:output message="tns:validarUsuarioRegistroHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Wcf_AuthUsersHttpPost">
    <wsdl:operation name="validarUsuario">
      <wsdl:input message="tns:validarUsuarioHttpPostIn" />
      <wsdl:output message="tns:validarUsuarioHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="validarUsuarioRegistro">
      <wsdl:input message="tns:validarUsuarioRegistroHttpPostIn" />
      <wsdl:output message="tns:validarUsuarioRegistroHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Wcf_AuthUsersSoap" type="tns:Wcf_AuthUsersSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="validarUsuario">
      <soap:operation soapAction="http://tempuri.org/validarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validarUsuarioRegistro">
      <soap:operation soapAction="http://tempuri.org/validarUsuarioRegistro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Wcf_AuthUsersSoap12" type="tns:Wcf_AuthUsersSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="validarUsuario">
      <soap12:operation soapAction="http://tempuri.org/validarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validarUsuarioRegistro">
      <soap12:operation soapAction="http://tempuri.org/validarUsuarioRegistro" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Wcf_AuthUsersHttpGet" type="tns:Wcf_AuthUsersHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="validarUsuario">
      <http:operation location="/validarUsuario" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validarUsuarioRegistro">
      <http:operation location="/validarUsuarioRegistro" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Wcf_AuthUsersHttpPost" type="tns:Wcf_AuthUsersHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="validarUsuario">
      <http:operation location="/validarUsuario" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validarUsuarioRegistro">
      <http:operation location="/validarUsuarioRegistro" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Wcf_AuthUsers">
    <wsdl:port name="Wcf_AuthUsersSoap" binding="tns:Wcf_AuthUsersSoap">
      <soap:address location="http://www.corpoica.org.co/webservices/WCF_AuthUsers/Wcf_AuthUsers.asmx" />
    </wsdl:port>
    <wsdl:port name="Wcf_AuthUsersSoap12" binding="tns:Wcf_AuthUsersSoap12">
      <soap12:address location="http://www.corpoica.org.co/webservices/WCF_AuthUsers/Wcf_AuthUsers.asmx" />
    </wsdl:port>
    <wsdl:port name="Wcf_AuthUsersHttpGet" binding="tns:Wcf_AuthUsersHttpGet">
      <http:address location="http://www.corpoica.org.co/webservices/WCF_AuthUsers/Wcf_AuthUsers.asmx" />
    </wsdl:port>
    <wsdl:port name="Wcf_AuthUsersHttpPost" binding="tns:Wcf_AuthUsersHttpPost">
      <http:address location="http://www.corpoica.org.co/webservices/WCF_AuthUsers/Wcf_AuthUsers.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>